/*
NOTE: This is example file for Boilerplate. Feel free to Change or Remove it accordingly
*/

h1 {
  display: flex;
  text-align: center;
  justify-content: center;

  svg {
    height: 30px;
    width: 30px;
  }
}
